/* Common classes */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0px;
    padding: 0px;
}

.common-container {
    max-width: 1600px;
    margin: 0 auto;
}

.primary-color {
    background-color: #1A0B2E;
}

.linear-gradient {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.gradient-text {
    background-image: linear-gradient(to right, 
        rgba(251, 9, 180, 1), 
        rgba(247, 233, 63, 1), 
        rgba(251, 9, 180, 1), 
        rgba(145, 0, 248, 1)
    );
    background-clip: text;
    color: transparent;
}

/* Common classes end*/

/* navbar style start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-img {
    max-height: 32px;
    max-width: 219px;
}

.nav-items ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: white;
    line-height: 120%;
}

.navbar button {
    border: none;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 10000px;
    color: white;
    cursor: pointer;
}

.hamburger-btn {
    display: none;
}

/* navbar style finished*/

/* banner style start */
.banner-container {
    height: 760px;
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.b-i-2 {
    position: absolute;
    left: 47%;
    top: 25%;
}

.banner-bg-img p {
    color: black;
    border: none;
    padding: 8px 16px;
    background-color: #00FF88;
    max-width: 35px;
    border-radius: 1000px;
    font-size: 1.125rem;
    position: absolute;
    right: 3%;
    top: 15%;
    font-weight: 600;
    padding-right: 24px;
}

.banner-bg-img {
    position: absolute;
    left: 41%;
    top: 15%;

}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 450px;
}

.banner-info h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
}

.banner-info p {
    font-weight: 200;
    color: white;
    padding-top: 15px;
}

.banner-btns {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
}

.banner-btn1,
.banner-btn2 {
    transition: 0.2s;
}

.banner-btn1:hover,
.banner-btn2:hover {
    transform: translateY(-3px) scale(1.05);
}

.banner-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.banner-btn2 {
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    background: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* About section style */
.about-description {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}

.about-description2 {
    color: white;
    text-align: center;
}

.about-description h1 {
    font-size: 3rem;
    font-weight: 700;
}

.about-description p {
    width: 660px;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 200;
    padding-top: 16px;
}

.about-description2 p {
    line-height: 20px;
    font-weight: 200;
    padding-top: 40px;
    margin: 0 auto;
}

.rating-card {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-bottom: 50px;
}

.hr {
    width: 90%;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 80px;
    border: 1px solid #242326;
}

.rating-card-items .p {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
}

.rating-card-items .p2 {
    line-height: 16px;
    color: white;
    font-weight: 200;
    padding-top: 16px;
}

/* annimation design */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes glow {

    0%,
    100% {
        filter: drop-shadow(0 0 5px rgba(0, 255, 136, 0.6));
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(0, 255, 136, 1));
    }
}

.b-i-2 {
    animation: float 3s ease-in-out infinite;
}

.banner-bg-img p {
    animation: glow 2s ease-in-out infinite;
}

/* grid section */
.grid-sec {
    background-color: #230E3D;
    width: 100%;
}

.grid-container {
    width: 1200px;
    min-height: 500px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 240px);
    gap: 30px;
    padding-bottom: 30px;
}

.grid-container>div {
    border-radius: 40px;
}

.grid-header {
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: white;
}

.box-1 {
    grid-row: 1/3;
}

.box-2 {
    grid-column: 2/4;
}

.box-3 {
    grid-column: 2/4;
}

.box-4 {
    grid-column: 1/3;
}

.grid-container>div {
    background-color: rgba(53, 17, 101, 0.4);
}

.g-box {
    color: white;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.g-box img {
    padding-bottom: 16px;
    padding-top: 20px;
}

.g-box h3 {
    padding-bottom: 10px;
    font-size: 1.2em;
}

.g-box p {
    line-height: 24px;
    font-weight: 100;
}

/* feature style */
.feature {
    color: white;
}

.feature-title {
    text-align: center;
    font-size: 3rem;
    padding-top: 120px;
    padding-bottom: 30px;
}

.feature-card {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.f-card {
    background-color: #230E3D;
    width: 400px;
    border: none;
    border-radius: 20px;
}

.f-card iframe {
    border-radius: 20px;
}

.card-info h3 {
    padding-top: 12px;
    padding-left: 24px;
}

.card-info p {
    height: 75px;
    padding: 12px 24px;
    font-weight: 150;
}

.card-bottom {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 24px;
}

/* host section */
.host {
    display: flex;
}

.host-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 120px;
}

.host-card {
    color: white;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #230E3D;
    border-radius: 40px;
    padding: 40px;
    margin-top: 40px;
    align-items: center;
}

.host-info {
    padding-left: 25px;
}

.host-info h3 {
    font-size: 2rem;
}

.host-info p {
    font-weight: 200;
    padding-top: 16px;
}

.social {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
    border-radius: 50%;
}

.hs {
    padding-bottom: 40px;
}

/* footer section */
.footer-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-c {
    background-image: url("assets/footer-bg.png");
    background-size: cover;
    background-position: center;
}

.footer-container h1 {
    color: white;
    font-size: 3.75rem;
    padding-top: 40px;
    text-align: center;
}

.footer-social {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 40px;
    padding-top: 32px;
}

.social-item {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
}

.social-item a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.footer-container p {
    color: white;
    padding-top: 32px;
    text-align: center;
    font-weight: 200;
}

/* responsive design */
@media screen and (max-width:576px) {

    .nav-items,
    .navbar button {
        display: none;
    }

    .hamburger-btn {
        display: block;
        padding-right: 20px;
    }

    .nav-img {
        max-height: 20px;
        max-width: 130px;
        padding-left: 20px;
    }

    .navbar {
        background-size: cover;
        width: 100%;
        padding-top: 20px;
    }

    .banner-container {
        height: 540px;
        background-size: contain;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .b-i-1 img {
        width: 200px;
        height: auto;
    }

    .b-i-2 img {
        width: 55px;
    }

    .banner-bg-img {
        position: absolute;
        left: 33%;
        top: 21%;
    }

    .banner-bg-img2 {
        position: absolute;
        left: 46%;
        top: 29%;
    }

    .banner-bg-img p {
        position: absolute;
        top: 7%;
        width: 25px;
        font-size: 0.9rem;
        padding-right: 24px;
    }

    .banner-info {
        padding-top: 350px;
    }

    .banner-info h1 {
        font-size: 2.5rem;
    }

    .banner-info p {
        width: 370px;
        text-align: center;
    }

    .about-description p {
        width: 400px;
    }

    .about-description2 p {
        width: 350px;
        line-height: 30px;
    }

    .rating-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        width: 90%;
        grid-template-rows: auto;
    }

    .g-box {
        grid-column: 1;
        padding-bottom: 20px;
    }

    .feature-card {
        flex-direction: column;
        align-items: center;
    }

    .host-card {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    .social {
        justify-content: center;
    }

    .footer-container {
        background-position: center;
        height: 200px;
        padding-bottom: 30px;
    }

    .footer-social {
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        justify-items: center;
    }

    .footer-container p {
        margin-bottom: 20px;
    }
}